<!-- list of managers (non-accordion -->
<!--
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <ul ng-repeat="manager in managers" class="nav nav-tabs nav-stacked">
        <li>
          <a href="#" ng-click="managerNodesHidden = !managerNodesHidden">{{manager.name}}
                      <button type="button" class="close" ng-click="deleteManager(manager)">&times;</button>
          </a>

        </li>
      </ul>
    </div>
  </div>
</div>-->


<!-- Accordion list of managers -->
<uib-accordion ng-repeat="manager in managers">
  <uib-accordion-group style="margin-top: 5px; overflow: visible">

    <!-- in order to clear node selection upon switching managers -->
    <uib-accordion-heading>
      <a href="#" ng-click="clearNodeChoice()">{{manager.name}}</a>
    </uib-accordion-heading>

    <!-- List of nodes the manager controls with a delete button for each-->
    <ul ng-repeat="nodeId in manager.nodes" class="nav nav-tabs nav-stacked">
      <li>
        <a href="#" ng-click="setCurNode((nodeId | IdToNode));">
          {{(nodeId | IdToNode).name}}
          <button type="button" class="close" ng-click="deleteNode(manager)">&times;</button>
        </a>
      </li>
    </ul>

    <!-- Split button -->
    <div class="btn-group" uib-dropdown style="margin-top: 5px;">
      <button id="split-button" type="button" class="btn btn-primary"
              ng-click="addNode(manager, curNode.content)" ng-disabled="(manager.nodes).indexOf(curNode.content._id) != -1">Add</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{curNode.content.name}}
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button"
          ng-repeat="node in (manager.nodes | RemainingNodes)">
        <li role="menuitem"><a href="#" ng-click="setCurNode(node)">{{node.name}}</a></li>
      </ul>
    </div>
  </uib-accordion-group>
</uib-accordion>
