<div class="container">
  <h2>{{$ctrl.network.content.name}}</h2>

  <!--<p>Begin list</p>
  <ul ng-repeat = "node in $ctrl.nodes.content
  | orderBy:'name'">
    <li>
      <div>
        <p>List item</p>
        <a href="#" ng-click="onMouseClick(node)">{{node.name}}</a>
        <p>{{node.info}}</p>
    </div>
    </li>
  </ul>

  <!-- svg + angular example --
  <div class="container">
    <svg ng-attr-height="400" ng-attr-width="600">
      <circle ng-repeat="node in $ctrl.nodes.content"
      ng-attr-cx="{{30 + $index*50}}" ng-attr-cy="{{30 + $index*50}}"
      ng-attr-r="{{15}}">
      </circle>
    </svg>
  </div>
  <p>End list</p>-->

  <div class="container">
    <svg ng-attr-width="{{width}}"
         ng-attr-height="{{height}}">
      <line   ng-repeat="link in links.content"
              class="link"
              ng-attr-stroke-width="{{link.strokeWidth}}"
              ng-attr-x1="{{link.source.x}}"
              ng-attr-y1="{{link.source.y}}"
              ng-attr-x2="{{link.target.x}}"
              ng-attr-y2="{{link.target.y}}"
              style="stroke:rgb(200,200,200);">
      </line>
      <circle ng-repeat="node in nodes.content"
              class="node"
              r="12"
              ng-attr-fill="{{node.color}}"
              ng-attr-cx="{{node.x}}"
              ng-attr-cy="{{node.y}}"
              stroke="white" stroke-width="3"
              ng-click="onMouseClick(node)">
        <title>{{node.name}}</title>
      </circle>
      <text ng-repeat="node in nodes.content"
            ng-attr-x="{{node.x + 8}}"
            ng-attr-y="{{node.y - 8}}"

            font-size="10">
        {{node.name}}
      </text>
    </svg>
  </div>
<!--
  <div class="container">
    <nvd3 options="options" data="data"></nvd3>
  </div>
-->
</div>
