<div id="page-container">
  <div id="left-container">
  <!--<div class="col-lg-3">-->
    <div class="container">
      <h3>NFD Information</h3>


      <!-- Yayyy got the dropdown to work -->
      <div class="dropdown" uib-dropdown>
        <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>

      <!-- Alright, we're going to try that damn accordion
           one more time.

           ... ok, so it works but it doesn't slide open/closed
      -->
      <div style="margin-top: 5px">
        <uib-accordion>
          <uib-accordion-group heading="Accordion item 1" style="width:40%">
            <p>I am the blade of my grinder</p>
            <p>Bean is my body and water is my blood</p>
            <p>I have created over a thousand espresso shots</p>
            <p>Unknown to Starbucks and untasted by hipster</p>
            <p>Have withstood bitterness to create much java</p>
            <p>But these hands will never stop shaking</p>
            <p>So as I drink</p>
            <p>UNLIMITED COFFEE WORKS!</p>
          </uib-accordion-group>
          <uib-accordion-group heading="Accordion item 2" style="width:40%">
            <p>
              Instant, single shot white a cup, decaffeinated qui bar, espresso sweet mug, skinny rich saucer coffee robusta eu, arabica a robust lungo body foam. Grounds, shop whipped, caramelization espresso so cinnamon ut plunger pot, that cup turkish, robusta instant lungo, ristretto, robust aged medium body that cinnamon aftertaste. Body saucer extraction organic robusta trifecta coffee, so cappuccino, milk robusta, at, french press sweet americano a crema irish saucer est blue mountain. Kopi-luwak, affogato ut whipped body sit variety kopi-luwak that coffee filter and carajillo.
            </p>
          </uib-accordion-group>
        </uib-accordion>
      </div>


      <div>
        <information-display></information-display>
      </div>

    </div>
  </div>


  <div id="right-container">
    <!--<div class="col-lg-9">-->
      <div class="container">

        <graph ng-show="$ctrl.matchesRadioButton('Left')"></graph>
        <performance ng-show="$ctrl.matchesRadioButton('Middle')"></performance>
        <faults ng-show="$ctrl.matchesRadioButton('Right')"></faults>

        <!-- change css to center and bottom this thing -->
      <div class="bottom-container">
        <div class="btn-group">
          <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Left'">
            <span class="glyphicon glyphicon-eye-open"></span>
          </label>
          <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Middle'">
            <span class="glyphicon glyphicon-stats"></span>
          </label>
          <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Right'">
            <span class="glyphicon glyphicon-alert"></span>
          </label>
        </div>
      </div>

    </div>
  </div>
</div>
