<div id="page-container">

  <div class="container" id="left-container">
    <node-title></node-title>
  <!--<div class="col-lg-3">-->
      <!--
      <div class="top-left-container">

      <!-- Tabs instead of buttons to navigate -->
      <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="NFD">
          <information-display></information-display>
        </uib-tab>
        <uib-tab index="1" heading="NLSR">
          <nlsr-display></nlsr-display>
        </uib-tab>
        <uib-tab index="2" heading="Managers" ng-show="$ctrl.isAdmin()">
          <manager-display></manager-display>
        </uib-tab>
      </uib-tabset>

  </div>


  <div id="right-container">
    <!--<div class="col-lg-9">-->
    <!--
      <div class="container" style="width:100%">

        <graph ng-show="$ctrl.matchesRadioButton('Left')"></graph>
        <performance ng-show="$ctrl.matchesRadioButton('Middle')"></performance>
        <faults ng-show="$ctrl.matchesRadioButton('Right')"></faults>-->

        <!-- change css to center and bottom this thing --><!--
      <div class="bottom-container">
        <div class="btn-group">
          <label uib-tooltip="Topology" class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Left'">
            <span class="glyphicon glyphicon-eye-open"></span>
          </label>
          <label uib-tooltip="Performance" class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Middle'">
            <span class="glyphicon glyphicon-stats"></span>
          </label>
          <label class="btn btn-default" uib-tooltip="Faults" ng-model="radioModel" uib-btn-radio="'Right'">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
          </label>
        </div>
      </div>

    </div>-->
    <uib-tabset type="pills">
      <uib-tab uib-tooltip="Topology">
        <uib-tab-heading>
          <i class="glyphicon glyphicon-eye-open"></i>
        </uib-tab-heading>
        <graph></graph>
      </uib-tab>

      <uib-tab uib-tooltip="Performance">
        <uib-tab-heading>
          <i class="glyphicon glyphicon-stats"></i>
        </uib-tab-heading>
        <performance></performance>
      </uib-tab>

      <uib-tab uib-tooltip="Faults">
        <uib-tab-heading>
          <i class="glyphicon glyphicon-exclamation-sign"></i>
        </uib-tab-heading>
        <faults></faults>
      </uib-tab>
    </uib-tabset>

  </div>
</div>
