<!-- Accordion Menu -->
<div style="margin-top: 5px" ng-hide="$ctrl.isDummyNode()">
  <uib-accordion>
    <uib-accordion-group heading="General Status">

    </uib-accordion-group>
    <uib-accordion-group heading="Channels">

    </uib-accordion-group>
    <uib-accordion-group heading="Faces">
      <ul ng-repeat="face in node.content.faces">
        <li>
          {{(face | IdToNode:nodes.content).name}}
        </li>
      </ul>


      <div ng-controller="FaceControllerCtrl">
        <button type="button" class="btn btn-default" ng-click="newFaceForm = !newFaceForm">
          New face
        </button>
        <div uib-collapse="newFaceForm">
          <div class="well well-lg" style="margin-top: 5px">
            <input type="text" ng-model="newFaceUri" class="form-control" placeholder="Face URI">
            <input type="text" ng-model="newFaceId" class="form-control" placeholder="Face ID"
                   style="margin-top: 5px">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="newFacePermanent"> Permanent
              </label>
            </div>
            <button type="button" class="btn btn-primary" ng-click="createFace()">
              Create face
            </button>
          </div>
        </div>
      </div>

    </uib-accordion-group>
    <uib-accordion-group heading="FIB">

    </uib-accordion-group>
    <uib-accordion-group heading="RIB">

    </uib-accordion-group>
    <uib-accordion-group heading="Forwarding Strategy">

    </uib-accordion-group>
  </uib-accordion>
</div>
