<!-- Accordion Menu -->
<h3 ng-show="$ctrl.isDummyNode()">No node selected</h3>
<h3 ng-hide="$ctrl.isDummyNode()">{{node.content.name}}</h3>

<div style="margin-top: 5px" ng-hide="$ctrl.isDummyNode()">
  <uib-accordion>
    <uib-accordion-group heading="Faces" style="width:40%">
      <ul ng-repeat="face in node.content.faces">
        <li>
          {{(face | IdToNode:nodes.content).name}}
        </li>
      </ul>
    </uib-accordion-group>
    <uib-accordion-group heading="RIB" style="width:40%">
      <p>Mmm... ribs...</p>
    </uib-accordion-group>
    <uib-accordion-group heading="FIB" style="width:40%">
      <p>It's a lie! ... isn't it???!?!?!</p>
    </uib-accordion-group>
    <uib-accordion-group heading="Nexthops" style="width:40%">
      <p>Do the hop, the something something hop!</p>
    </uib-accordion-group>
    <uib-accordion-group heading="Forwarding Strategy" style="width:40%">
      <p>My strategy is to win everything</p>
    </uib-accordion-group>
  </uib-accordion>
</div>
