<!-- Accordion Menu -->
<div style="margin-top: 5px">
  <uib-accordion>
    <uib-accordion-group heading="Accordion item 1" style="width:40%">
      <p>I am the blade of my grinder</p>
      <p>Bean is my body and water is my blood</p>
      <p>I have created over a thousand espresso shots</p>
      <p>Unknown to Starbucks and untasted by hipster</p>
      <p>Have withstood bitterness to create much java</p>
      <p>But these hands will never stop shaking</p>
      <p>So as I drink</p>
      <p>UNLIMITED COFFEE WORKS!</p>
    </uib-accordion-group>
    <uib-accordion-group heading="Accordion item 2" style="width:40%">
      <p>
        Instant, single shot white a cup, decaffeinated qui bar, espresso sweet mug, skinny rich saucer coffee robusta eu, arabica a robust lungo body foam. Grounds, shop whipped, caramelization espresso so cinnamon ut plunger pot, that cup turkish, robusta instant lungo, ristretto, robust aged medium body that cinnamon aftertaste. Body saucer extraction organic robusta trifecta coffee, so cappuccino, milk robusta, at, french press sweet americano a crema irish saucer est blue mountain. Kopi-luwak, affogato ut whipped body sit variety kopi-luwak that coffee filter and carajillo.
      </p>
    </uib-accordion-group>
    <uib-accordion-group heading="Faces" style="width:40%">
      <ul ng-repeat="face in node.content.faces">
        <li>
          {{(face | IdToNode:nodes.content).name}}
        </li>
      </ul>
    </uib-accordion-group>
    <uib-accordion-group heading="RIB" style="width:40%">

    </uib-accordion-group>
    <uib-accordion-group heading="FIB" style="width:40%">

    </uib-accordion-group>
    <uib-accordion-group heading="Nexthops" style="width:40%">

    </uib-accordion-group>
    <uib-accordion-group heading="Forwarding Strategy" style="width:40%">

    </uib-accordion-group>
  </uib-accordion>
</div>

<div>
  <p>###</p>
  <p>
    <a href="#" ng-click="$ctrl.onClick()">{{node.content.info}}</a>
  </p>
  <div ng-hide="$ctrl.inputHidden">

      <form class="thing-form" style="width:40%; min-width:300px">
        <label>Syncs in realtime across clients</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newInfo">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-click="$ctrl.updateNode()">Add New</button>
            </span>
        </p>
      </form>

  </div>
  <p><br>###</p>
</div>
